// Required configuration for deploy to Maven Central.
// Save as either:
//  ~/.gradle/gradle.properties (preferred option to avoid adding the properties to github by mistake)
//  ./build.properties
signing.keyId=
signing.password=
signing.secretKeyRingFile=

ossrhUsername=
ossrhPassword=
